In [ ]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [ ]:
iris = datasets.load_iris()
X = iris["data"][:, (2, 3)]  
y = iris["target"]

setosa_or_versicolor = (y == 0) | (y == 1)
X = X[setosa_or_versicolor]
y = y[setosa_or_versicolor]
X=pd.DataFrame(X)
y=pd.DataFrame(y)
y.rename(columns = {0 : 'label'}, inplace = True)
X.rename(columns = {0 : 'x1',1 : 'x2'}, inplace = True)
df=pd.concat([X,y],axis=1)

In [ ]:
X

     x1   x2
0   1.4  0.2
1   1.4  0.2
2   1.3  0.2
3   1.5  0.2
4   1.4  0.2
..  ...  ...
95  4.2  1.2
96  4.2  1.3
97  4.3  1.3
98  3.0  1.1
99  4.1  1.3

[100 rows x 2 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=17)
print(X_test.shape)
print(X_train.shape)
print(df.shape)

(20, 2)
(80, 2)
(100, 3)

RBF

In [ ]:
mod_SVM=SVC(kernel='rbf',C=1,degree=2,coef0=1)
mod_SVM.fit(X_train,y_train)

y_pred=mod_SVM.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
y_pred

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1])

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00         9

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

Linear

In [ ]:
mod_SVM=SVC(kernel='linear',C=1)
mod_SVM.fit(X_train,y_train)

y_pred=mod_SVM.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
y_pred

array([1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1])

In [ ]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       1.00      1.00      1.00         9

    accuracy                           1.00        20
   macro avg       1.00      1.00      1.00        20
weighted avg       1.00      1.00      1.00        20

Regresi-SVM

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/DianCA26/Dataset/main/CarPrice_Assignment.csv")

In [ ]:
from sklearn.svm import SVR
from sklearn.svm import LinearSVR
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [ ]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [ ]:
X = df[['horsepower','wheelbase','enginesize','boreratio','compressionratio','highwaympg','citympg','curbweight','carwidth','carlength']]
y = df['price']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=26)
print(X_test.shape)
print(X_train.shape)
print(X.shape)

(41, 10)
(164, 10)
(205, 10)

In [ ]:
sc=MinMaxScaler()
sc.fit(X_train)
X_train_scaled=sc.transform(X_train)
X_test_scaled=sc.transform(X_test)

In [ ]:
svm_reg = SVR(kernel="poly", degree=2, C=1000, epsilon=0.1, gamma="scale")
svm_reg.fit(X_train_scaled, y_train)
y_pred_train=svm_reg.predict(X_train_scaled)
y_pred_test=svm_reg.predict(X_test_scaled)

In [ ]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

print('MAE train = ', mean_absolute_error(y_train, y_pred_train))
print('MAE test = ', mean_absolute_error(y_test, y_pred_test))

print('MSE train = ', mean_squared_error(y_train, y_pred_train))
print('MSE test = ', mean_squared_error(y_test, y_pred_test))

print('RMSE train = ', np.sqrt(mean_squared_error(y_train, y_pred_train)))
print('RMSE test = ', np.sqrt(mean_squared_error(y_test, y_pred_test)))

print('r2score train = ', r2_score(y_train, y_pred_train))
print('r2score test = ', r2_score(y_test, y_pred_test))

MAE train =  1907.9670870327814
MAE test =  1866.2420547531176
MSE train =  12774254.64747788
MSE test =  6970073.273376698
RMSE train =  3574.108930555682
RMSE test =  2640.089633587598
r2score train =  0.81136584904826
r2score test =  0.8459922896609947

In [ ]:
svm_reg2 = SVR(kernel="poly", degree=2, C=0.01, epsilon=0.1, gamma="scale")
svm_reg2.fit(X_train_scaled, y_train)
y_pred_train=svm_reg2.predict(X_train_scaled)
y_pred_test=svm_reg2.predict(X_test_scaled)

In [ ]:
print('MAE train = ', mean_absolute_error(y_train, y_pred_train))
print('MAE test = ', mean_absolute_error(y_test, y_pred_test))

print('MSE train = ', mean_squared_error(y_train, y_pred_train))
print('MSE test = ', mean_squared_error(y_test, y_pred_test))

print('RMSE train = ', np.sqrt(mean_squared_error(y_train, y_pred_train)))
print('RMSE test = ', np.sqrt(mean_squared_error(y_test, y_pred_test)))

print('r2score train = ', r2_score(y_train, y_pred_train))
print('r2score test = ', r2_score(y_test, y_pred_test))

MAE train =  5660.6326432872065
MAE test =  4840.514643513829
MSE train =  75456143.81728844
MSE test =  47341295.83584152
RMSE train =  8686.549592173433
RMSE test =  6880.501132609566
r2score train =  -0.11424157540783297
r2score test =  -0.0460327015511135

In [ ]:
mod_SVR=SVR(kernel='linear', epsilon=0.5)
mod_SVR.fit(X_train_scaled,y_train)

y_pred_train=mod_SVR.predict(X_train_scaled)
y_pred_test=mod_SVR.predict(X_test_scaled)

In [ ]:
print('MAE train = ', mean_absolute_error(y_train, y_pred_train))
print('MAE test = ', mean_absolute_error(y_test, y_pred_test))

print('MSE train = ', mean_squared_error(y_train, y_pred_train))
print('MSE test = ', mean_squared_error(y_test, y_pred_test))

print('RMSE train = ', np.sqrt(mean_squared_error(y_train, y_pred_train)))
print('RMSE test = ', np.sqrt(mean_squared_error(y_test, y_pred_test)))

print('r2score train = ', r2_score(y_train, y_pred_train))
print('r2score test = ', r2_score(y_test, y_pred_test))

MAE train =  5642.005379436753
MAE test =  4822.975987330031
MSE train =  75078565.11226067
MSE test =  47055583.56246727
RMSE train =  8664.788809443695
RMSE test =  6859.707250493076
r2score train =  -0.10866596724861766
r2score test =  -0.03971972730933726

In [ ]:
mod_SVR=SVR()
mod_SVR.fit(X_train,y_train)

y_pred_train=mod_SVR.predict(X_train)
y_pred_test=mod_SVR.predict(X_test)

In [ ]:
print('MAE train = ', mean_absolute_error(y_train, y_pred_train))
print('MAE test = ', mean_absolute_error(y_test, y_pred_test))

print('MSE train = ', mean_squared_error(y_train, y_pred_train))
print('MSE test = ', mean_squared_error(y_test, y_pred_test))

print('RMSE train = ', np.sqrt(mean_squared_error(y_train, y_pred_train)))
print('RMSE test = ', np.sqrt(mean_squared_error(y_test, y_pred_test)))

print('r2score train = ', r2_score(y_train, y_pred_train))
print('r2score test = ', r2_score(y_test, y_pred_test))

MAE train =  5656.650079486198
MAE test =  4837.105325163425
MSE train =  75395748.28386648
MSE test =  47296612.74631679
RMSE train =  8683.072514027881
RMSE test =  6877.253285019884
r2score train =  -0.11334973001389592
r2score test =  -0.04504540342114094