# Day 1 Notebook

ini adalah notebook pertama saya

In [1]:
print("Hallo Jupyter!")

Hallo Jupyter!

## Tipe data dalam python

Jenis data ada 2 
    + data tunggal
        =int
        -float
        -bool (True,False)
        -string("here","there")
    + majemuk

In [2]:
# tidak bisa menampilkan 2 sekaligus,
# tapi hanya satu yg ditampilkan
type(22)
type('yure')

str

In [4]:
# dapat menampilkan semua
# data tunggal
print(type("char"))
print(type(True))
print(type(2))
print(type(3.0))

<class 'str'>
<class 'bool'>
<class 'int'>
<class 'float'>

#### data majemuk
##### tuple
tuple immutable 
##### list
list dapat bermutasi

In [55]:
# data majemuk
data_tuple = (1,5.2,"this is string", True) # data tuple
data_list =[1,5.2,"this is string", True] # data list
data_dictionary = {'nama':"wirawan setio aji","umur":27}# data dictionary
print(type(data_list))

# List data addition
data_list.append("last") #add from back
data_list.insert(0,"first") #add from the selected index
print(data_list)

#list remove
data_list.remove(5.2) #remove by item
del data_list[0] #remove by index
data_list.pop() #remove from the last
print(data_list)

<class 'list'>
['first', 1, 5.2, 'this is string', True, 'last']
[1, 'this is string', True]

### variable

seberapa bebas penamaan variable (jangan memberi nama variable angka atau angka didepan kata, dan name yang sama dengan fungsi bawaan python)

In [11]:
x = 5 # sign 5 into x
print(x+6)
x = 9 # override variable 'x' with 9
print(x+6)

11
15

### String 

adalah list dalam setiap character, string tidak bermutasi atau immutable

In [12]:
my_string = "Python is crazy, ey?"
my_string_2 = 'yeah boy o'

print(type(my_string_2))

<class 'str'>

In [14]:
string_test = 'can\'t' # escape string '\'
print(string_test)

can't

In [19]:
print(len(string_test)) # menghitung karakter
print(string_test.upper()) # mengubah string menjadi kapital karakter
# string_test[2] = "2" # akan ada error karena string immutable
print(string_test.swapcase()) # swap lower case dengan upper case

5
CAN'T
can't

#### formatting string
memasukan variable dalam sebuah string dengan formatting

In [22]:
nama = "wirawan setio aji"
umur = 27

formatted_string = f"Nama saya {nama} umur saya {umur}" # menggunakan 'f' didepan string quote
print(formatted_string)

Nama saya wirawan setio aji umur saya 27

#### String indexing & slicing

In [33]:
# Indexing
nama = "Hacktiv8"
print(nama[2]) # indexing string dari depan
print(nama[-2]) # indexing string dari belakang

# Slicing
print(nama[2:6:3]) #first index(inclusive) : until index (exclusive/tidak termasuk):jump
print(nama[:6]) # menampilkan dari awal hingga index 5 / 6-1
print(nama[4:]) # dari index 4 hingga akhir
print(nama[6:2:-1])

c
v
ci
Hackti
tiv8
vitk

### Boolean
bolean adalah tipe data True atau False
dalam operasi : aritmatika,perbandingan,logika,keanggotaan

#### operasi aritmatika

In [36]:
print(2+3*2) # operasi aritmatika
print(6/4) # operasi aritmatika pembagian biasa
print(5/4) # bagi integer (tidak ada koma / float)
print(17%3) # sisa pembagi

nama_depan = 'wirawan'
nama_belakang = 'aji'

# operasi string
print(nama_depan + nama_belakang) # hanya bisa di tambah dengan sesama string
print((nama_depan+ " ") * 5) #hanya bisa dikalikan dengan integer

8
1.5
1.25
2
wirawanaji
wirawan wirawan wirawan wirawan wirawan

#### operasi perbandingan

In [37]:
print(2==2)
print(3>4)
print(4>=4)
print(3<4)
print(3<=3)

True
False
True
True
True

#### operasi logika

In [40]:
print (True and True)
print(False or True)
print(True or False and False) # "and" adalah perkalian 'or' adalah penjumlahan

True
True
True

#### keanggotaan

In [46]:
nama = "Wirawan"
print(('i'and'o') in nama)

keranjang_buah = ('Pepaya','Mangga','Pisang', 'Jambu')
print ('Mangga' in keranjang_buah)

False
True